<% let msg = ""; %>
<% if (typeof errorMessage !== "undefined") { %>
    <%   msg = errorMessage; %>
<% } %>
<% if (typeof message !== "undefined") { %>
    <%   msg = message; %>
<% } %>

<% console.log(" inside EDIT: " + profile + "!!!"); %>
<% const name = profile.name %>
<% console.log("NAME::: " + name) %>
<% const id = profile._id %>
<form 
    action="/profiles/update/<%= profile._id %>"
    method="post"
>
    <section class="contact-page">
        <div class="details-title-container">
            <h2 class="details-h2">Edit Profile</h2>
            <span><a href="/profiles" class="details-edit-bt">Return to List</a></span>
        </div>
        <h2 id="message" class="contact-message"> <%= msg %> </h2>

        <div class="edit-texts-container">
            <% if (typeof errorMessage === "undefined") { %>
                <h2>Name</h2>
                <input type="text" name="name" id="" value="<%=profile.name%>" class="text-field">
                
                <h2>Interests</h2>
                <% for (let i = 0; i < profile.interests.length; i++) { %>
                    <input type="text" name="interest<%= i%>" id="" value="<%= profile.interests[i] %>" class="text-field">
                <% } %>
                
                <input type="text" name="additionals" placeholder="Add more interests separated by commas" class="text-field">
                
                <h2>Profile's picture</h2>
                <img
                    src=""
                    alt=""
                    width="100%"
                />
    
                <input 
                    id="updateButton"
                    type="submit"
                    class="contact-button"
                    title="Yes"
                    value="Update"
                >
            <% } %>
        </div>
    </section>
</form>